* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
  background-color: Pink;
  color: White;
  font-size: 60px;
  background-size: 100px;
  text-align: center;
}

.head1{
    color: Pink;
    font-size: 20px;
}
