* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
  background-color: Pink;
  Color: White;
  Size: 40px;
  background-size: 70px;
  text-align: center;
}

.head1{
    Color: Pink;
    Size: 20px;
}

.me{
    text-align: center;
    font-size: 30px;
}
